<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.munishgupta.conferencedialer">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".infrastructure.ConferenceDialerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo_image"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity" />


        <activity android:name=".activities.CalendarItemDialActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/calendar_item_dial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity android:name=".activities.SettingActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="Settings"/>

    </application>

</manifest>
